@tailwind base;
@tailwind components;
@tailwind utilities;

.dark\:hover\:bg-gray-600:hover {
  background-color: hsl(210, 88%, 59%); /* Canlı Mavi */
  color: white;
}

.hover\:bg-gray-100:hover {
  background-color: hsl(210, 88%, 95%); /* Çok Açık Mavi */
}

.dark\:text-gray-200 {
  color: hsl(210, 88%, 69%); /* Açık Mavi */
}

/* Hover durumunda alt menüde gölgelendirme */
.group:hover .group-hover\:block {
  display: block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Alt Menü için geçiş efekti */
.group-hover\:block {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Alt menüler için yumuşak geçiş efekti */
.group:hover .group-hover\:block {
  opacity: 1;
}
/* Menü öğeleri için ortalama */
/* Genel arka plan rengi */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(135deg, #93c5fd, #fef08a, #e5e5e5); /* blue-300, soft yellow, soft gray */


  background-size: 300% 300%; /* Daha geniş bir geçiş alanı */
  background-position: center;
  animation: backgroundAnimation 10s ease-in-out infinite; /* Arka planın hareket etmesi için animasyon */
}
.pricing-table {
  background-color: white;
}
/* Arka planın animasyonla hareket etmesini sağlıyoruz */
@keyframes backgroundAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
